.container{
 display:flex;
 flex-direction:row;
 background-color:aquamarine;
 justify-content: space-evenly;
 flex-wrap:wrap;
}
.item{
    background-color:bisque;
    padding:30px;
    margin:20px;
}
